body{
    background-image: url(bg6.avif);
    background-repeat: no-repeat;
    background-size: 1500px 850px;

}
form{
    margin-left: 60px;
    border: solid 0px;
    margin-left: 500px;
    margin-top: 200px;
}
h1{
    margin-right: 178px;
}